/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

/* global */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
 text-decoration: none;
}

ul{
 list-style: none;
}

.active{
 text-decoration: underline;
 font-weight: bold;
 transition: all 0.3s ease;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Navbar */
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0px;
  color: whitesmoke;
}

.nav-links{
 display: flex;
 align-items: center;
 color: whitesmoke;
}

.nav-links li {
 margin: 0 20px;
 font-weight: bold;
}
.nav-links a{
  color: whitesmoke;
}

.menu-btn {
 position: absolute;
 top: 30px;
 right: 30px;
 width: 40px;
 cursor: pointer;
 display: none;
}
.logo{
  width: 150px;
}

/* header */
header{
  width: 100vw;
  height: 100vh;
  background-color: #001999;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.header-content{
 margin-bottom: 10px;
 color: whitesmoke;
 text-align: center;
 display: flex;
 flex-direction: column;
}
.header-content h2{
 font-size: 3vmin;
}
.line{
 width: 150px;
 height: 4px;
 background: #fc036b;
 margin: 10px auto;
 border-radius: 5px;
}
.header-content h1{
 font-size: 10vmin;
 margin-top: 50px;
 margin-bottom: 30px;
}
.header-content p{
  font-size: 20px;
  color: white;
}
header .head{
  width: 45%;
  min-width: 400px;
}

.ctn{
  padding: 10px 15px;
  background: #fc036b;
  border-radius: 15px;
  color: whitesmoke;
  transition: all 0.3s ease;
}

.logo2{
  width: 90px;
  margin-left: 10px;
  position: absolute;
  display: none;
}

.arrow{
  margin-top: 60px;
  width: 40px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

/* song */
.singing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.head-title{
  margin-top: 10px;
  font-size: 5vmin;
}
iframe{
  width: 100%;
  height: 300px;
  margin-top: 10px;
  padding: 10px;
}

/* Events */
section{
  width: 80%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic{
  width: 500px;
}

.events .row{
  margin-top: 50px;
}

h4	{
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
}

p{
  color: #7c7c7c;
  padding: 0px 20px;
  font: 18px;
}

.events .ctn{
  margin-top: 30px;
}

/* explore */
.explore {
  width: 100%;
  height: 100vh;
  background-image: url('images/img4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-content{
  width: 100%;
  padding: 10px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-content h1{
  font-size: 7vmin;
}
.explore-content .line{
  margin-bottom: 50px;
}
.explore-content p {
  color: rgb(221, 221, 221);
  font-size: 18px;
}
.explore-content .ctn{
  margin-top: 40px;
}

/* The word */
.word {
  max-width: 100%;
  width: auto;
  height: 450px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.luke{
  font-size: 18px;
  background: #fc036b;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 20px 0px 20px 0px;
  transition: all 0.5s ease;
}
.luke:hover{
  transform: scale(1.1);
}
.luke p{
  color: whitesmoke;
}
.proclaim{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  transition: all 0.5s ease;
}
.proclaim:hover{
  transform: scale(1.1);
}
.proclaim a{
  margin: 20px;
  font-size: 2.5vmin;
  font-weight: 400;
}
.proclaim .bgd{
  border: 3px #fc036b solid;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.proclaim h1{
  margin-bottom: 15px;
  text-align: left;
  font-size: 4vmin;
}
.proclaim p{
  text-align: center;
  margin-bottom: 18px;
  font-size: 18px;
}


/* gallery */
.image-gallery .img-gal{
  width: 300px;
  max-width: 300px;
  margin: 10px;
  height: 200px;
}

.content-col{
  width: 40%;
}
.image-col{
  width: 60%;
}

.content-col h1{
  font-size: 7vmin;
  color: #484872;
}
.content-col .line{
  margin-left: -1px;
}
.content-col p{
  padding: 0;
  margin: 30px auto;
}
.content-col .ctn{
  margin-left: -100px;
}

.tours .image-gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

/* footer */
.footer{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background: #001999;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.social{
  font-size: 40px;
  padding: 10px;
}
.social i{
  color: whitesmoke;
  margin: 0 10px;
}
.footer h2{
  color: whitesmoke;
  font-size: 4vmin;
}
.copy{
  color: #fc036b;
  font-size: 3vmin;
}

/* animations */
.img-gal {
 transition: transform 0.3s ease;
}
.img-gal:hover{
 transform: scale(1.1);
}
.pic{
  transition: transform 0.3s ease;
}
.pic:hover{
  transform: scale(1.1);
}

.ctn:hover{
 background: whitesmoke;
 color: #fc036b;
 font-weight: bold;
 box-shadow: 2px 2px 5px #00000056;
}
li:hover{
 color: #fc036b;
 cursor: pointer;
}
a:hover{
  color: #fc036b;
  cursor: pointer;
}